In [1]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
import tweepy 
import nltk 
from google.cloud import language
import pandas as pd
from pandas.io.json import json_normalize

In [2]:
import urllib.request
import pandas as pd
import numpy as np
import requests

**X_Test Building,Use it after Data Training**

In [9]:
Sneakerhashtags = input("Enter hashtags for first sneaker with , as seprator")
#remember I used input feature so we have more accuracy,s o use specific model hastags like yeezyazareth,azareth700,700azareth - do not use hashtags like yeezy700,yeezykanye700 because they are different models)

Enter hashtags for first sneaker with , as sepratornikedunklow,nikedunllowb,nikedunkbrown

In [10]:
releaseprice = input("Release price of sneaker in EUROS")

Release price of sneaker in EUROS100

In [11]:
data=Sneakerhashtags.split(",")
m=pd.DataFrame(data)
m.values

array([['nikedunklow'],
       ['nikedunllowb'],
       ['nikedunkbrown']], dtype=object)

In [12]:
url='https://www.instagram.com/graphql/query/?query_hash=c769cb6c71b24c8a86590b22402fda50&variables=%7B%22tag_name%22%3A%22azareth%22%2C%22first%22%3A2%2C%22after%22%3A%22QVFCVDVxVUdMLWlnTlBaQjNtcUktUkR4M2dSUS1lSzkzdGVkSkUyMFB1aXRadkE1RzFINHdzTmprY1Yxd0ZnemZQSFJ5Q1hXMm9KZGdLeXJuLWRScXlqMA%3D%3D%22%7D'
uf=pd.DataFrame(data)
uf.columns=["hashtag"]
uf["url"]= url
uf
uf['url'] = uf['hashtag'].apply(lambda x : url.replace('azareth',x.lower()))

41805

In [13]:
uf['totalikes'] = uf['url'].apply(lambda x :(urllib.request.urlopen(x).read().decode('UTF-8').rfind("edge_media_preview_like")))
uf['totalcomments'] = uf['url'].apply(lambda x :(urllib.request.urlopen(x).read().decode('UTF-8').rfind("edge_media_to_comment")))
uf['totalposts'] = uf['url'].apply(lambda x :(urllib.request.urlopen(x).read().decode('UTF-8').rfind("edge_hashtag_to_media")))
uf['releaseprice']=releaseprice
uf

         hashtag  ... releaseprice
0    nikedunklow  ...          100
1   nikedunllowb  ...          100
2  nikedunkbrown  ...          100

[3 rows x 6 columns]

In [41]:
x_test =(uf.totalikes.mean(),uf.totalcomments.mean(),uf.totalposts.mean(),uf.releaseprice[0])
x_test = pd.DataFrame(x_test).T
x_test=np.asarray(x_test,dtype=float)
mk= model.predict(x_test)
print("Maximum resale price", mk ,"Euros")

Maximum resale price [[353.72513]] Euros

DATA TRAINING

1- I took most recent photos from instgram for certain hashtags,so it reduces the possibility of having any oldmodel sneakers photos into the data,this validates,as "HYPE" or popularity of a certain sneaker is possibliy estimated from the most recent photos,so we can now which sneakers are in Talk and hot right now and have more resale values

2- For any possiblity of Hashtags overlaps over photos ,(which is quite possible) I talk median counts of TOTAL LIKES/COMMENTS and POSTS to train data and to predict resale prices also

3 to validate the model instead of splitting data to Traun or test we can simply put hashtags of recent release of a sneaker and compare our preictions with actual ongoing resale price

In [ ]:
#yeezy700 azareth

In [15]:
yeezyazareth = ["azareth","azareth700","yeezy700blue","700azareth","yeezyazareth","azarethkanye","yeezybluev3","2020yeezyv3","v3yeezyazareth","adidasyeezyazareth","adidasazareth","azarethkicks"]
url='https://www.instagram.com/graphql/query/?query_hash=c769cb6c71b24c8a86590b22402fda50&variables=%7B%22tag_name%22%3A%22azareth%22%2C%22first%22%3A2%2C%22after%22%3A%22QVFCVDVxVUdMLWlnTlBaQjNtcUktUkR4M2dSUS1lSzkzdGVkSkUyMFB1aXRadkE1RzFINHdzTmprY1Yxd0ZnemZQSFJ5Q1hXMm9KZGdLeXJuLWRScXlqMA%3D%3D%22%7D'
yeezyazareth=pd.DataFrame(yeezyazareth)
yeezyazareth.columns=["hashtag"]
yeezyazareth["url"]= url
yeezyazareth['url'] = yeezyazareth['hashtag'].apply(lambda x : url.replace('azareth',x.lower()))
yeezyazareth['totalikes'] = yeezyazareth['url'].apply(lambda x :(urllib.request.urlopen(x).read().decode('UTF-8').rfind("edge_media_preview_like")))
yeezyazareth['totalcomments'] = yeezyazareth['url'].apply(lambda x :(urllib.request.urlopen(x).read().decode('UTF-8').rfind("edge_media_to_comment")))
yeezyazareth['totalposts'] = yeezyazareth['url'].apply(lambda x :(urllib.request.urlopen(x).read().decode('UTF-8').rfind("edge_hashtag_to_media")))
yeezyazareth['releaseprice']=200
yeezyazareth

               hashtag  ... releaseprice
0              azareth  ...          200
1           azareth700  ...          200
2         yeezy700blue  ...          200
3           700azareth  ...          200
4         yeezyazareth  ...          200
5         azarethkanye  ...          200
6          yeezybluev3  ...          200
7          2020yeezyv3  ...          200
8       v3yeezyazareth  ...          200
9   adidasyeezyazareth  ...          200
10       adidasazareth  ...          200
11        azarethkicks  ...          200

[12 rows x 6 columns]

In [16]:
#airjordanfearless

airjordanfearless = ["airjordanfearless","fearless","jordanbluefearless","fearlessjordan","aj1fearless","ajonefearless","airjordanonefearless"]
url='https://www.instagram.com/graphql/query/?query_hash=c769cb6c71b24c8a86590b22402fda50&variables=%7B%22tag_name%22%3A%22azareth%22%2C%22first%22%3A2%2C%22after%22%3A%22QVFCVDVxVUdMLWlnTlBaQjNtcUktUkR4M2dSUS1lSzkzdGVkSkUyMFB1aXRadkE1RzFINHdzTmprY1Yxd0ZnemZQSFJ5Q1hXMm9KZGdLeXJuLWRScXlqMA%3D%3D%22%7D'
airjordanfearless=pd.DataFrame(airjordanfearless)
airjordanfearless.columns=["hashtag"]
airjordanfearless["url"]= url
airjordanfearless['url'] = airjordanfearless['hashtag'].apply(lambda x : url.replace('azareth',x.lower()))
airjordanfearless['totalikes'] = airjordanfearless['url'].apply(lambda x :(urllib.request.urlopen(x).read().decode('UTF-8').rfind("edge_media_preview_like")))
airjordanfearless['totalcomments'] = airjordanfearless['url'].apply(lambda x :(urllib.request.urlopen(x).read().decode('UTF-8').rfind("edge_media_to_comment")))
airjordanfearless['totalposts'] = airjordanfearless['url'].apply(lambda x :(urllib.request.urlopen(x).read().decode('UTF-8').rfind("edge_hashtag_to_media")))
airjordanfearless['releaseprice'] = 160
airjordanfearless

                hashtag  ... releaseprice
0     airjordanfearless  ...          160
1              fearless  ...          160
2    jordanbluefearless  ...          160
3        fearlessjordan  ...          160
4           aj1fearless  ...          160
5         ajonefearless  ...          160
6  airjordanonefearless  ...          160

[7 rows x 6 columns]

In [17]:
#sacainikeblazar

sacainikeblazar = ["nikesacai","sacaiblazar","nikesacaiblazar","blazarsacaiyellow","sacaiblazarnike","nikexsacai","sacaixnike","sacaisneakers","sacaishoes"]
url='https://www.instagram.com/graphql/query/?query_hash=c769cb6c71b24c8a86590b22402fda50&variables=%7B%22tag_name%22%3A%22azareth%22%2C%22first%22%3A2%2C%22after%22%3A%22QVFCVDVxVUdMLWlnTlBaQjNtcUktUkR4M2dSUS1lSzkzdGVkSkUyMFB1aXRadkE1RzFINHdzTmprY1Yxd0ZnemZQSFJ5Q1hXMm9KZGdLeXJuLWRScXlqMA%3D%3D%22%7D'
sacainikeblazar=pd.DataFrame(sacainikeblazar)
sacainikeblazar.columns= ["hashtag"]
sacainikeblazar["url"]= url
sacainikeblazar['url'] = sacainikeblazar['hashtag'].apply(lambda x : url.replace('azareth',x.lower()))
sacainikeblazar['totalikes'] = sacainikeblazar['url'].apply(lambda x :(urllib.request.urlopen(x).read().decode('UTF-8').rfind("edge_media_preview_like")))
sacainikeblazar['totalcomments'] = sacainikeblazar['url'].apply(lambda x :(urllib.request.urlopen(x).read().decode('UTF-8').rfind("edge_media_to_comment")))
sacainikeblazar['totalposts'] = sacainikeblazar['url'].apply(lambda x :(urllib.request.urlopen(x).read().decode('UTF-8').rfind("edge_hashtag_to_media")))
sacainikeblazar['releaseprice'] = 140
sacainikeblazar

             hashtag  ... releaseprice
0          nikesacai  ...          140
1        sacaiblazar  ...          140
2    nikesacaiblazar  ...          140
3  blazarsacaiyellow  ...          140
4    sacaiblazarnike  ...          140
5         nikexsacai  ...          140
6         sacaixnike  ...          140
7      sacaisneakers  ...          140
8         sacaishoes  ...          140

[9 rows x 6 columns]

In [18]:
#pumaralphsamson


pumaralphsamson = ["pumaralphsamsonog","samsonralphogsneakers","pumaralphsam","pumaog"]
url='https://www.instagram.com/graphql/query/?query_hash=c769cb6c71b24c8a86590b22402fda50&variables=%7B%22tag_name%22%3A%22azareth%22%2C%22first%22%3A2%2C%22after%22%3A%22QVFCVDVxVUdMLWlnTlBaQjNtcUktUkR4M2dSUS1lSzkzdGVkSkUyMFB1aXRadkE1RzFINHdzTmprY1Yxd0ZnemZQSFJ5Q1hXMm9KZGdLeXJuLWRScXlqMA%3D%3D%22%7D'
pumaralphsamson=pd.DataFrame(pumaralphsamson)
pumaralphsamson.columns= ["hashtag"]
pumaralphsamson["url"]= url
pumaralphsamson['url'] = pumaralphsamson['hashtag'].apply(lambda x : url.replace('azareth',x.lower()))
pumaralphsamson['totalikes'] = pumaralphsamson['url'].apply(lambda x :(urllib.request.urlopen(x).read().decode('UTF-8').rfind("edge_media_preview_like")))
pumaralphsamson['totalcomments'] = pumaralphsamson['url'].apply(lambda x :(urllib.request.urlopen(x).read().decode('UTF-8').rfind("edge_media_to_comment")))
pumaralphsamson['totalposts'] = pumaralphsamson['url'].apply(lambda x :(urllib.request.urlopen(x).read().decode('UTF-8').rfind("edge_hashtag_to_media")))
pumaralphsamson['releaseprice'] = 80
pumaralphsamson

                 hashtag  ... releaseprice
0      pumaralphsamsonog  ...           80
1  samsonralphogsneakers  ...           80
2           pumaralphsam  ...           80
3                 pumaog  ...           80

[4 rows x 6 columns]

In [19]:
#NIKE SB DUNK X CIVILIST

nikedunkcivilist = ["nikecivilist","nikedunksb","nikesbdunk","nikecivilist","sbdunk","dunknikecivilist","civilistnike"]
url='https://www.instagram.com/graphql/query/?query_hash=c769cb6c71b24c8a86590b22402fda50&variables=%7B%22tag_name%22%3A%22azareth%22%2C%22first%22%3A2%2C%22after%22%3A%22QVFCVDVxVUdMLWlnTlBaQjNtcUktUkR4M2dSUS1lSzkzdGVkSkUyMFB1aXRadkE1RzFINHdzTmprY1Yxd0ZnemZQSFJ5Q1hXMm9KZGdLeXJuLWRScXlqMA%3D%3D%22%7D'
nikedunkcivilist=pd.DataFrame(nikedunkcivilist)
nikedunkcivilist.columns= ["hashtag"]
nikedunkcivilist["url"]= url
nikedunkcivilist['url'] = nikedunkcivilist['hashtag'].apply(lambda x : url.replace('azareth',x.lower()))
nikedunkcivilist['totalikes'] = nikedunkcivilist['url'].apply(lambda x :(urllib.request.urlopen(x).read().decode('UTF-8').rfind("edge_media_preview_like")))
nikedunkcivilist['totalcomments'] = nikedunkcivilist['url'].apply(lambda x :(urllib.request.urlopen(x).read().decode('UTF-8').rfind("edge_media_to_comment")))
nikedunkcivilist['totalposts'] = nikedunkcivilist['url'].apply(lambda x :(urllib.request.urlopen(x).read().decode('UTF-8').rfind("edge_hashtag_to_media")))
nikedunkcivilist['releaseprice'] = 100
nikedunkcivilist

            hashtag  ... releaseprice
0      nikecivilist  ...          100
1        nikedunksb  ...          100
2        nikesbdunk  ...          100
3      nikecivilist  ...          100
4            sbdunk  ...          100
5  dunknikecivilist  ...          100
6      civilistnike  ...          100

[7 rows x 6 columns]

In [20]:
#NIKE SPACE HIPPIE COLLECTION,

nikespacehippie = ["nikespacesneakers","nikespace","nikehippie","nikehippie","nikehippiegrey","spacenike"]
url='https://www.instagram.com/graphql/query/?query_hash=c769cb6c71b24c8a86590b22402fda50&variables=%7B%22tag_name%22%3A%22azareth%22%2C%22first%22%3A2%2C%22after%22%3A%22QVFCVDVxVUdMLWlnTlBaQjNtcUktUkR4M2dSUS1lSzkzdGVkSkUyMFB1aXRadkE1RzFINHdzTmprY1Yxd0ZnemZQSFJ5Q1hXMm9KZGdLeXJuLWRScXlqMA%3D%3D%22%7D'
nikespacehippie=pd.DataFrame(nikespacehippie)
nikespacehippie.columns= ["hashtag"]
nikespacehippie["url"]= url
nikespacehippie['url'] = nikespacehippie['hashtag'].apply(lambda x : url.replace('azareth',x.lower()))
nikespacehippie['totalikes'] = nikespacehippie['url'].apply(lambda x :(urllib.request.urlopen(x).read().decode('UTF-8').rfind("edge_media_preview_like")))
nikespacehippie['totalcomments'] = nikespacehippie['url'].apply(lambda x :(urllib.request.urlopen(x).read().decode('UTF-8').rfind("edge_media_to_comment")))
nikespacehippie['totalposts'] = nikespacehippie['url'].apply(lambda x :(urllib.request.urlopen(x).read().decode('UTF-8').rfind("edge_hashtag_to_media")))
nikespacehippie['releaseprice'] = 130
nikespacehippie

             hashtag  ... releaseprice
0  nikespacesneakers  ...          130
1          nikespace  ...          130
2         nikehippie  ...          130
3         nikehippie  ...          130
4     nikehippiegrey  ...          130
5          spacenike  ...          130

[6 rows x 6 columns]

In [21]:
#training with prices of size 43 (most in demand)

import pandas as pd

traindata = {'name':  ['yeezyazareth','airjordanfearless','sacainikeblazar' ,'pumaralphsamson' ,'nikedunkcivilist' ,'nikespacehippie'],
        'likes': [yeezyazareth.totalikes.mean(),airjordanfearless.totalikes.mean(),sacainikeblazar.totalikes.mean(),pumaralphsamson.totalikes.mean(),nikedunkcivilist.totalikes.mean(),nikespacehippie.totalikes.mean()],
        'comment': [yeezyazareth.totalcomments.mean(),airjordanfearless.totalcomments.mean(),sacainikeblazar.totalcomments.mean(),pumaralphsamson.totalcomments.mean(),nikedunkcivilist.totalcomments.mean(),nikespacehippie.totalcomments.mean()],
        'post': [yeezyazareth.totalposts.mean(),airjordanfearless.totalposts.mean(),sacainikeblazar.totalposts.mean(),pumaralphsamson.totalposts.mean(),nikedunkcivilist.totalposts.mean(),nikespacehippie.totalposts.mean()],
        'releaseprice': [yeezyazareth.releaseprice[1],airjordanfearless.releaseprice[1],sacainikeblazar.releaseprice[1],pumaralphsamson.releaseprice[1],nikedunkcivilist.releaseprice[1],nikespacehippie.releaseprice[1]],
        'maxresaleprice': [361,333,298,115,1000,330],
        'popular':[1,1,1,0,2,1]
        }

df = pd.DataFrame (traindata, columns = ['name','likes','comment','post','releaseprice','maxresaleprice','popular'])
df

                name         likes  ...  maxresaleprice  popular
0       yeezyazareth  14035.583333  ...             361        1
1  airjordanfearless  23761.571429  ...             333        1
2    sacainikeblazar  25566.444444  ...             298        1
3    pumaralphsamson  10741.250000  ...             115        0
4   nikedunkcivilist  40964.285714  ...            1000        2
5    nikespacehippie  32092.500000  ...             330        1

[6 rows x 7 columns]

In [29]:
x = df[["likes","comment","post","releaseprice"]]
x=np.asarray(x)
y=np.asarray(df.maxresaleprice)
y

array([ 361,  333,  298,  115, 1000,  330])

In [37]:
from keras.models import Model
from keras.layers import Input
from keras.layers import Dense
from keras.models import Sequential
from keras.layers import LeakyReLU
import tensorflow as tf
model= Sequential()

model.add(Dense(10,input_shape=[4,], activation='relu'))
model.add(Dense(30, activation='relu'))
model.add(Dense(1, activation='relu'))
mse = tf.keras.losses.MeanSquaredError()

model.compile('Adam',loss=mse)
model.optimizer.lr =0.001
                
model.fit(x,y,epochs=50, batch_size=10, verbose=1)

Epoch 1/50
1/1 [==============================] - 0s 1ms/step - loss: 1487031.5000
Epoch 2/50
1/1 [==============================] - 0s 2ms/step - loss: 1139661.0000
Epoch 3/50
1/1 [==============================] - 0s 2ms/step - loss: 840141.1875
Epoch 4/50
1/1 [==============================] - 0s 2ms/step - loss: 589389.9375
Epoch 5/50
1/1 [==============================] - 0s 2ms/step - loss: 387619.2812
Epoch 6/50
1/1 [==============================] - 0s 2ms/step - loss: 234053.5000
Epoch 7/50
1/1 [==============================] - 0s 2ms/step - loss: 126625.8359
Epoch 8/50
1/1 [==============================] - 0s 2ms/step - loss: 61661.5742
Epoch 9/50
1/1 [==============================] - 0s 2ms/step - loss: 33646.3164
Epoch 10/50
1/1 [==============================] - 0s 2ms/step - loss: 35217.7383
Epoch 11/50
1/1 [==============================] - 0s 2ms/step - loss: 57532.7070
Epoch 12/50
1/1 [==============================] - 0s 2ms/step - loss: 91087.7266
Epoch 13/50
1/1 [==============================] - 0s 2ms/step - loss: 126885.3750
Epoch 14/50
1/1 [==============================] - 0s 2ms/step - loss: 157612.7344
Epoch 15/50
1/1 [==============================] - 0s 2ms/step - loss: 178429.1250
Epoch 16/50
1/1 [==============================] - 0s 2ms/step - loss: 187157.9844
Epoch 17/50
1/1 [==============================] - 0s 2ms/step - loss: 183949.6406
Epoch 18/50
1/1 [==============================] - 0s 2ms/step - loss: 170658.2031
Epoch 19/50
1/1 [==============================] - 0s 2ms/step - loss: 150144.5156
Epoch 20/50
1/1 [==============================] - 0s 3ms/step - loss: 125661.9062
Epoch 21/50
1/1 [==============================] - 0s 2ms/step - loss: 100367.4922
Epoch 22/50
1/1 [==============================] - 0s 2ms/step - loss: 76971.0391
Epoch 23/50
1/1 [==============================] - 0s 2ms/step - loss: 57508.6914
Epoch 24/50
1/1 [==============================] - 0s 2ms/step - loss: 43227.5898
Epoch 25/50
1/1 [==============================] - 0s 2ms/step - loss: 34570.6836
Epoch 26/50
1/1 [==============================] - 0s 2ms/step - loss: 31244.7715
Epoch 27/50
1/1 [==============================] - 0s 4ms/step - loss: 32365.0410
Epoch 28/50
1/1 [==============================] - 0s 3ms/step - loss: 36649.2695
Epoch 29/50
1/1 [==============================] - 0s 2ms/step - loss: 42639.6992
Epoch 30/50
1/1 [==============================] - 0s 2ms/step - loss: 48918.6289
Epoch 31/50
1/1 [==============================] - 0s 2ms/step - loss: 54291.0469
Epoch 32/50
1/1 [==============================] - 0s 2ms/step - loss: 57910.4336
Epoch 33/50
1/1 [==============================] - 0s 3ms/step - loss: 59337.4414
Epoch 34/50
1/1 [==============================] - 0s 2ms/step - loss: 58533.3477
Epoch 35/50
1/1 [==============================] - 0s 2ms/step - loss: 55798.5273
Epoch 36/50
1/1 [==============================] - 0s 2ms/step - loss: 51674.1562
Epoch 37/50
1/1 [==============================] - 0s 2ms/step - loss: 46828.7461
Epoch 38/50
1/1 [==============================] - 0s 2ms/step - loss: 41941.3008
Epoch 39/50
1/1 [==============================] - 0s 2ms/step - loss: 37603.3320
Epoch 40/50
1/1 [==============================] - 0s 2ms/step - loss: 34245.4727
Epoch 41/50
1/1 [==============================] - 0s 2ms/step - loss: 32097.6348
Epoch 42/50
1/1 [==============================] - 0s 2ms/step - loss: 31182.1973
Epoch 43/50
1/1 [==============================] - 0s 2ms/step - loss: 31339.3184
Epoch 44/50
1/1 [==============================] - 0s 2ms/step - loss: 32276.9395
Epoch 45/50
1/1 [==============================] - 0s 2ms/step - loss: 33633.7695
Epoch 46/50
1/1 [==============================] - 0s 2ms/step - loss: 35046.4883
Epoch 47/50
1/1 [==============================] - 0s 3ms/step - loss: 36207.4180
Epoch 48/50
1/1 [==============================] - 0s 1ms/step - loss: 36906.2031
Epoch 49/50
1/1 [==============================] - 0s 2ms/step - loss: 37048.3906
Epoch 50/50
1/1 [==============================] - 0s 2ms/step - loss: 36653.8164

In [38]:
mk= model.predict(x_test)
mk

WARNING:tensorflow:7 out of the last 7 calls to <function Model.make_predict_function.<locals>.predict_function at 0x7ff28872a0d0> triggered tf.function retracing. Tracing is expensive and the excessive number of tracings could be due to (1) creating @tf.function repeatedly in a loop, (2) passing tensors with different shapes, (3) passing Python objects instead of tensors. For (1), please define your @tf.function outside of the loop. For (2), @tf.function has experimental_relax_shapes=True option that relaxes argument shapes that can avoid unnecessary retracing. For (3), please refer to https://www.tensorflow.org/tutorials/customization/performance#python_or_tensor_args and https://www.tensorflow.org/api_docs/python/tf/function for  more details.

array([[353.72513]], dtype=float32)

In [ ]:
mk

array([[   0.  , 7684.55,    0.  ]], dtype=float32)